body{
    margin: 0%;
}
main{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(45deg, transparent,#3F51B5);
    background-color: #161c3c;
    font-family: sans-serif;
}
.seccion_visible{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.audio{
    position: absolute;
    display: flex;
    align-items: center;
    height: 3em;
    top: 0vh;
    right: 40vw;
    width: 20vw;
    padding: 0.2em;
    background-image: linear-gradient(45deg, #bbbbbb00, #000000);
    background-color: #354395;
    border: solid 0.13em;
    border-radius: 2em;
    color: black;
}

audio{
    outline: none;
    margin: 1em;
}

h5{
    width: 10em;
}

.fondo_pagina1{
    z-index: 0;
    position: absolute;
    border-radius: 1em;
}

.fondo_combate{
    z-index: 0;
    position: absolute;
    border-radius: 1em;
}

.general{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85vw;
    height: 85vh;
    border-radius: 1em;
    box-shadow: 0 13px 17px -7px black;
    z-index: 1;
}

.general2{
    background-color: brown;   
}

.lista_personajes{
    width: 60vw;
    height: 15vh;
    display: flex;
    justify-content: space-around;
    margin-bottom: 1em;
}
.selccionar{
    box-sizing: border-box;
    background-color: #398b8c;
    height: 15vh;
    width: 8vw;
    border: solid 0.2em;
    margin: 0em 0.3em;
}
.selccionar > label{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

#fijar_player{
    display: none;
    transition: 1s;
}

#fijar_cpu{
    display: none;
    transition: 1s;
}

#player_picked{
    visibility: hidden;
    border-radius: 1em 0em 0em 1em;
    background-image: linear-gradient(-90deg, #000000a3, #00000042, transparent);
    background-color: #99262b;
    display: flex;
    flex-direction: row;
}

#cpu_picked{
    visibility: hidden;
    border-radius: 0em 1em 1em 0em;
    background-image: linear-gradient(90deg, #000000a3, #00000042, transparent);
    background-color: #104088;
    display: flex;
    flex-direction: row;
}

#content_info{
    display: flex;
    justify-content: space-between;
}

#start{
    width: 4.4vw;
    height: 8vh;
    background-color: red;
    border-radius: 4em;
    color: white;
}

.carrusel_personajes{
    display: flex;
    justify-content: space-between;  
    width: 80vw;
    height: 50vh;
    border-radius: 1em;
    box-shadow: 0 0 13px 6px #f95656;
    z-index: 1;
}

.atributos{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    width: 21vw;
    border: solid 0.4em;
    border-radius: 1em;
}
#cpu_picked > img {
    order: -1;
}

#user1{
    position: absolute;
    left: 0;
    height: 35vh;
    width: 10vw;
}

#PC{
    position: absolute;
    right: 0;
    height: 35vh;
    width: 10vw;
}

.charactersize{
    width: 100%;
    height: 100%;
}

#PC > img {
    transform: scaleX(-1);
}

button{
    height: 5vh;
    margin: 1em;
    border-radius: 2em;
    width: 6vw;
    outline: none;
}

#fight_start{
    visibility: hidden;
}

.pictogram{
    height: 100%;
    width: auto;
    margin-left: 2.1em;
}

#first_selector{
    display: flex;
}
#second_selector{
    display: none;
}

#stadium{
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 85vw;
    border-radius: 1em 1em 0em 0em;
    height: 90%;
    box-shadow: 0 0 11px 1px #d7dee6;
}

.rotate{
    transform: scaleX(-1);
}
.info{
    display: flex;
    justify-content: space-around;
}
#contenedor_life_bar{
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 2vh;
}

.life_bar{
    width: 35vw;
    height: 3vw;
    background-color: gray;
    border-radius: 2em;
}
.life{
    width: 100%;
    height: 100%;
    border-radius: 2em;
    background-color: red;
}
#fondo_batalla{
    z-index: -1;
    position: absolute;
    width: 85vw;
    height: 78vh;
    top: 55px;
    border-radius: 1em;
}
.gameOff{
    font-size: 7em;
    align-self: center;
    color: white;
}